<!-- Inherits the navbar from base.html. Embeds this template inside base.html-->
{% extends "base.html" %}

<!-- The block statements define where this template can insert itself-->
<!-- This block is named 'content'-->
{% block content %}

<!--Place an Order-->

<div class="col-md-8 mx-auto" id="customerOrder-page">
  <h2>Place an Order</h2>

  <!--New Customer Form-->
  <button type="button" class="btn btn-primary mx-1 mt-3" data-toggle="modal" data-target="#" id="newButton"> 
      New Customer
  </button>


  <!--Place Order Form - Customer/Employee Info-->
  <form>
    <div class="form-row mt-5 mb-3">
      <div class="col mx-1">
        <label for="employeeID">Employee ID</label>
        <input type="number" class="form-control" id="employeeID" min=0 placeholder="Optional">
      </div>
      <div class="col mx-1">
        <label for="fname">Customer Name</label>
        <input type="text" class="form-control" id="custName">
      </div>
    </div>

    <div class="form-inline mt-2 mb-3">
      <div class="btn-group" aria-label="...">
        <div class="manage-buttons">
          <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#AddModal" id="startOrder"> 
              Start Order
          </button>
        </div>
      </div>
    </div>
  </form>

  <form>
    <div class="form-row">
      <div class="col mx-1">
        <label for="item">Item Name</label>
        <input type="text" class="form-control" id="item">
      </div>
      <div class="col mx-1">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity">
      </div>
    </div>


    <!--Edit Order Buttons-->

    <div class="form-inline mt-2 mb-2">
      <div class="btn-group" aria-label="...">
        <div class="manage-buttons">
          <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#AddModal" id="addToOrder"> 
              Add Item
          </button>
        </div>
      </div>
    </div>
  </form>

  <!--Order List-->

  <h2>Order Items</h2>
  <table class="table mt-3" id="orderTable">
    <thead> 
      <th>PLU</th>
      <th>NAME</th>
      <th>DESCRIPTION</th>
      <th>UNIT COST</th>
      <th>QUANTITY</th>
      <th>COST</th>
      <th></th>
      <th></th>
    </thead>
  </table>
  <div class="btn-group" aria-label="...">
    <div class="manage-buttons">
      <button type="button" class="btn btn-primary mx-1 mb-5" data-toggle="modal" data-target="#AddModal" id="placeOrder"> 
          Submit Order
      </button>
    </div>
  </div>
</div>
{% endblock %}

