<!-- Inherits the navbar from base.html. Embeds this template inside base.html-->
{% extends "base.html" %}

<!-- The block statements define where this template can insert itself-->
<!-- This block is named 'content'-->
{% block content %}

<div class="col-md-8 mx-auto">
    <h1> View and Manage Customer Information </h1>

    <div class="col-md-8 mx-auto search-bar">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="submit"> Search for a Customer </button>
        </form>
    </div>

    <div class="col-md-8 mx-auto search-bar">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="number" placeholder="Lower Bound">
            <input class="form-control mr-sm-2" type="number" placeholder="Upper Bound">
            <button class="btn btn-primary" type="submit"> Search by Rewards Points </button>
        </form>
    </div>
    
    <div class="customers-table">
        <table class="table">
            <thead>
                <th> CustomerID </th>
                <th> Name </th>
                <th> Phone Number </th>
                <th> Rewards Points </th>
                <th> Options </th>
            </thead>

            <tbody>
                {% for row in rows %}
                <tr>
                    <td> {{ row[0] }} </td>
                    <td> {{ row[1] }} </td>
                    <td> {{ row[2] }} </td>
                    <td> {{ row[3] }} </td>
                    <td> 
                        <button type="button" class="btn btn-success"> Update </button> 
                        <button type="button" class="btn btn-danger"> Delete </button> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
