<!-- Inherits the navbar from base.html. Embeds this template inside base.html-->
{% extends "base.html" %}

<!-- The block statements define where this template can insert itself-->
<!-- This block is named 'content'-->
{% block content %}

<!--Order Inventory Form-->

<div class="col-md-8 mx-auto" id="inventoryOrder-page">
  <h2>Inventory Order Form</h2>
  <form>
    <div class="form-row mt-5">
      <div class="col mx-1">
        <label for="item">Item Name</label>
        <input type="text" class="form-control" id="item">
      </div>
      <div class="col mx-1 mb-1">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity">
      </div>
    </div>

    <!--Edit Order Buttons-->

    <div class="form-inline mt-1 mb-3">
      <div class="btn-group" aria-label="...">
        <div class="manage-buttons">
          <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#AddModal" id="addInvOrder"> 
              Add Item
          </button>
        </div>
      </div>
    </div>
  </form>

  <!--Order List-->

  <h2>Order Items</h2>
  <table class="table mt-3" id="invOrderList">
    <thead> 
      <th>PLU</th>
      <th>NAME</th>
      <th>DESCRIPTION</th>
      <th>UNIT COST</th>
      <th>QUANTITY</th>
      <th></th>
      <th></th>
    </thead> 
  </table>
  <div class="btn-group" aria-label="...">
    <div class="manage-buttons">
      <button type="button" class="btn btn-primary mx-1 mb-5" data-toggle="modal" data-target="#AddModal" id="submitInv">
          Submit Order
      </button>
    </div>
  </div>
</div>


{% endblock %}