<!-- Inherits the navbar from base.html. Embeds this template inside base.html-->
{% extends "base.html" %}

<!-- The block statements define where this template can insert itself-->
<!-- This block is named 'content'-->
{% block content %}

<!--Buttons header-->
<div class="col-md-8 mx-auto" id="inventory-page">
  <div class="manage-buttons mb-3">
    <h1>Manage Inventory</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" id="orderInventory"> 
        Order Inventory
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewItem" id="addItem"> 
        Add an Item
    </button>
  </div>


  <!--Add Inventory Modal-->
  <div id="addNewItem" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header mb-3">
                <h5 class="modal-title">New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="mx-3 my-2">
                <p> Enter Item Information </p>
                <form>
                  <div class="form-row mx-1 my-3">
                    <div class="col">
                      <input type="number" class="form-control" id="employeeID" min=0 placeholder="Employee ID">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" id="fname" placeholder="First Name">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" id="lname" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-row mx-1 my-3">
                    <div class="col">
                      <input type="number" class="form-control" id="PLU" min=0 placeholder="PLU">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" id="item" placeholder="Item Name">
                    </div>
                  </div>
                  <div class="form-row mx-1 my-3">
                    <div class="col">
                      <input type="text" class="form-control" id="description" placeholder="Description">
                    </div>
                  </div>
                  <div class="form-row mx-1 my-3">
                    <div class="col">
                      <input type="number" class="form-control" id="quantity" placeholder="Quanitity">
                    </div>
                    <div class="col">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" min="0.00" max="1000000.00" step="0.01" id="unitCost" placeholder="Unit Cost">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary px-1" data-dismiss="modal" data-target="#">
                      Add
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>


    <!--Inventory Table-->
    <h2> View Inventory Currently in Stock</h2>
    <table class="table">
        <thead> 
            <th>PLU</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>UNIT COST</th>
            <th>QUANTITY</th>
            <th></th>
            <th></th>
        </thead> 
        <tbody>
            <tr> 
                <td>0000</td> 
                <td>Organic Carrots</td> 
                <td>Bundles of 4. Price per Bundle</td> 
                <td>$2.47</td>
                <td>9</td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                    Update
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                    Delete
                  </button>
                </td>
            </tr>
            <tr> 
                <td>0001</td> 
                <td>Red Potatos</td> 
                <td>5lb Bag. Price per Bag</td> 
                <td>$5.86</td>
                <td>25</td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                    Update
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                    Delete
                  </button>
                </td>
            </tr>
            <tr> 
                <td>0002</td> 
                <td>Fresh Peaches</td> 
                <td>Individual. Price per Peach.</td> 
                <td>$0.79</td>
                <td>54</td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                    Update
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                    Delete
                  </button>
                </td>
            </tr>
        </tbody> 
    </table>
</div>

    {% endblock %}
