<!-- Inherits the navbar from base.html. Embeds this template inside base.html-->
{% extends "base.html" %}

<!-- The block statements define where this template can insert itself-->
<!-- This block is named 'content'-->
{% block content %}

<!--Buttons header-->
<div class="col-md-8 mx-auto">
<div class="manage-buttons mb-5">
    <h1>Orders</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal" id="add">
          Place an Order
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AssignModal" id="search"> 
          Search
      </button>
</div>

<!--Search Form-->
<div id="searchForm" style="display: none">
  <h2>Search Orders</h2>
  <div class="form-group col-md-8">
    <select class="form-control mb-3" id="searchOptions" placeholder="Search By">
      <option>Search By</option>
      <option>Order ID</option>
      <option>Customer ID</option>
      <option>Employee ID</option>
    </select>
    <div class="form-row">
      <div class="col-10 mb-3">
        <input type="text" class="form-control" id="search" placeholder="Enter ID">
      </div>
      <div class="col btn-group mb-3" aria-label="...">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" id="showOrders">
            Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!--Order Table-->

<h2> All Orders </h2>
<table class="table">
    <thead> 
        <th>ORDER ID</th>
        <th>REWARDS ID</th>
        <th>EMPLOYEE ID</th>
        <th></th>
        <th></th>
    </thead> 
    <tbody>
        <tr> 
            <td>0000</td> 
            <td>0099</td> 
            <td>0034</td> 
            <td>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                Update
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                Delete
              </button>
            </td>
        </tr>
        <tr> 
            <td>0001</td> 
            <td>0132</td> 
            <td>0009</td> 
            <td>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                Update
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                Delete
              </button>
            </td>
        </tr>
        <tr> 
            <td>0002</td> 
            <td>0199</td> 
            <td>0210</td> 
            <td>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                Update
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                Delete
              </button>
            </td>
        </tr>
    </tbody> 
</table>


<!--Displays Details of Order Based on Search Criteria.-->
<div id="orderDetails" style="display: none">
  <h2> Order Details </h2>
  <table class="table">
      <thead>
          <th>ORDER ID</th>
          <th>PLU</th>
          <th>ITEM</th>
          <th>DESCRIPTION</th>
          <th>UNIT COST</th>
          <th>QUANTITY</th>
          <th>COST</th>
          <th></th>
          <th></th>
      </thead> 
      <tbody>
          <tr> 
              <td>0001</td>
              <td>0000</td>
              <td>Organic Carrots</td>
              <td>Bundles of 4. Price per Bundle</td>
              <td>$2.47</td>
              <td>2</td>
              <td>$4.94</td>
              <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                  Update
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                  Delete
                </button>
              </td>
          </tr>
          <tr> 
              <td>0001</td>
              <td>0001</td>
              <td>Red Potatoes</td>
              <td>5lb Bag. Price per Bag</td>
              <td>$5.86</td>
              <td>1</td>
              <td>$5.86</td>
              <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                  Update
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                  Delete
                </button>
              </td>
          </tr>
          <tr> 
              <td>0001</td>
              <td>0002</td>
              <td>Fresh Peaches</td>
              <td>Individual. Price per Peach.</td>
              <td>$0.79</td>
              <td>2</td>
              <td>$1.58</td>
              <td>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#"> 
                  Update
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#">
                  Delete
                </button>
              </td>
          </tr>
      </tbody> 
  </table>
</div>
</div>
    {% endblock %}

