.search-bar {
    margin-top: 25px;
}

.customers-table {
    margin-top: 50px;
}

.manage-buttons {
    margin-top: 25px;
    margin-bottom: 50px;
}

.add-form-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-results {
    margin-top: 10px;
    margin-bottom: 15px;
}

#shifts-table {
    margin-top: 10px;
    margin-bottom: 15px;
}

#employees-table {
    margin-top: 10px;
    margin-bottom: 15px;
}